#!/bin/bash

set -eu

# Brewfileのhash値を入れることで、Brewfileの変更時のみ本スクリプトを実行できるようにする。
# Brewfile hash: {{ include "Brewfile" | sha256sum }}

{{ if eq .chezmoi.username "0ta2" }}
BREWFILE={{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
{{ else }}
BREWFILE=${HOME}/.Brewfile
{{ end }}

if [[ -f "$BREWFILE" ]]; then
    echo "🍺 Brewfile has changed, running brew bundle..."
    brew bundle --cleanup --file="$BREWFILE"
else
    echo "🌀 No Brewfile found, skipping brew bundle"
fi
