#!/bin/bash

set -eu

{{ if eq .chezmoi.username "0ta2" }}

# Brewfileのhash値を入れることで、Brewfileの変更時のみ本スクリプトを実行できるようにする。
# Brewfile hash: {{ include "Brewfile" | sha256sum }}

echo "🍺 Brewfile has changed, running brew bundle..."
brew bundle --file={{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}

{{ else }}

echo "🤔 未知のユーザーです。処理をスキップします"

{{ end }}
