# XDG
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_CACHE_HOME="${HOME}/.cache"

# zsh
export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"

# zim
export ZIM_HOME="${XDG_CACHE_HOME}/zim"

# tmux-fzf
export TMUX_FZF_MENU_POPUP=1

{{ if eq .chezmoi.username "0ta2" }}
# private
export WORKSTATION="private"
export BREWFILE={{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
{{ else }}
# public
export WORKSTATION="public"
export BREWFILE=${HOME}/Brewfile
{{ end }}
