[settings]
env_shell_expand = true

[vars]
source = '~/ghq/github.com/0ta2/dots'
brewfile = "${BREWFILE}"

#
# chemoi
#
[tasks."chezmoi:add"]
description = "chezmoi管理下に置くファイルを追加"
run = "chezmoi --source={{vars.source}} add"

[tasks."chezmoi:template"]
description = "chezmoiに管理下に置くファイルをテンプレートとして管理する"
run = "chezmoi --source={{vars.source}} chattr template"

[tasks."chezmoi:apply"]
description = "chezmoiの反映"
run = "chezmoi --source={{vars.source}} apply"

[tasks."chezmoi:diff"]
description = "chezmoiの差分確認"
run = "chezmoi --source={{vars.source}} diff"

[tasks."chezmoi:status"]
description = "chezmoiのstatus確認"
run = "chezmoi --source={{vars.source}} status"

#
# homebrew
#
[tasks."brew:update"]
description = "Brewのupgrade&update"
run = [
    "brew upgrade",
    "brew update"
]

[tasks."brew:sync"]
description = "Brewのsync"
run = [
    "brew bundle --cleanup --force --file={{vars.brewfile}}",
]

[tools]
ghq = "latest"
